{% extends 'index.html' %}

{% block title %} User Detail {% endblock %}

{% block main %}

<h1>Create Post</h1>

<form action="/users/{{user.id}}/posts/new" , method="POST">

    <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title">
    </div>
    <div>
        <label for="post-content">Content</label>
        <input type="text" id="post-content" name="post-content">
    </div>
    <div>
        <button>Add Post</button>
    </div>
</form>



<a href="/users">Homepage</a>




{% endblock %}