{% extends 'index.html' %}

{% block title %} User Detail {% endblock %}

{% block main %}

<h1>User Info</h1>

<img src="{{user.profile_pic}}" alt="picture of user" class="profile-pic">


<p><b> First Name: </b>{{user.first_name}}</p>
<p><b> Last Name: </b>{{user.last_name}}</p>

<form action="/users/{{user.id}}/edit" method="GET">
    <button>Edit User</button>
</form>

<form action="/users/{{user.id}}/delete" method="POST">
    <button>Delete User</button>
</form>

<!-- add ul containing posts -->
<ul>
    {%for post in post_list%}
    <li> <a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {%endfor%}
</ul>

<form action="/users/{{user.id}}/posts/new" method="GET">
    <button>Add Post</button>
</form>

<a href="/users">Homepage</a>


{% endblock %}