{% extends 'index.html' %}

{% block title %} Edit User {% endblock %}

{% block main %}

<h1>Current info for {{user.first_name}} {{user.last_name}}</h1>


<form action="/users/{{user.id}}/edit" method="POST">
    <div>
        <label for="edit-first-name">First Name</label>
        <input type="text" id="edit-first-name" name="first-name" value="{{user.first_name}}" size="30">
    </div>
    <div>
        <label for="edit-last-name">Last Name</label>
        <input type="text" id="edit-last-name" name="last-name" value="{{user.last_name}}" size="30">
    </div>
    <div>
        <label for="edit-profile-img">Image URL</label>
        <input type="text" id="edit-profile-img" name="profile-img" value="{{user.profile_pic}}" size="100">
    </div>
    <div>
        <button>Make Changes</button>
    </div>
</form>

<a href="/users">Go Back</a>




{% endblock %}