{% extends 'index.html' %}

{% block title %} Post Detail {% endblock %}

{% block main %}

<h1>{{post.title}}</h1>

<p><b>content: </b>{{post.content}}</p>

<p>Tags associated with this post - can be changed in edit post</p>
<ul>
    {%for tag in tags%}
    <li><a href="/tags/{{tag.id}}">{{tag.tag_name}}</a></li>
    {%endfor%}
</ul>

<form action="/posts/{{post.id}}/edit" method="GET">
    <button>Edit Post</button>
</form>

<form action="/posts/{{post.id}}/delete" method="POST">
    <button>Delete Post</button>
</form>



<a href="/">Homepage</a>


{% endblock %}